/* Payment Update Confirmation Card Container */

.updateConfContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  /* margin-top: auto; */
  align-items: center;
  /* background-color: red; */
}

.cardContainer {
  display: flex;
  height: 50%;
  justify-content: flex-start;
  /* margin-top: auto; */
  align-items: center;
  /* background-color: rgb(0, 13, 255); */
}

.updateCard {
  width: 350px;
  text-align: center;
}

.formCardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
