.header {
  width: 100%;
  padding-left: 14px;
}

.subtotal {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 10px;
  padding: 0 50px 8px;
}

.styles.resContainer {
  padding: 12px;
}

.resGroup {
  display: flex;
  flex-wrap: wrap;
}

.productGroup {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}