

.dishCard {
  display: flex;
  width: 450px;
  margin: 12px;
  height: 125px;
}

.dishCardLoading {
  display: flex;
  width: 450px;
  margin: 12px;
  height: 125px;
}

.dishImage {
  width: 113px;
  height: 100%;
}

.dishImageLoading {
  width: 151px;
  height: 113px;
  margin: 6px;
}

.cardBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cardContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.cardContentLoading {
  width: 100%;
}

.cardDetailsLoading {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 8px;
  margin: 0;
}

.cardBlurbLoading {
  height: 48px;
  width: 50%;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  height: 100%;
  height: 110px;
}

.dishHeaderLoading {
  margin: 8px;
  width: 66%;
  height: 24px;
}

.disSubheaderLoading {
  margin: 0 8px;
  width: 25%;
}

.description {
  font-size: 0.9em;
}

.counterContainer {
  display: flex;
  justify-content: center;
}
.dishCounter {
  display: flex;
  align-items: center;
}

.dishCounterLoading {
  justify-self: center;
  width: 100px;
}

.addRemove {
  display: flex;
  height: fit-content;
}

svg.add {
  color: red;
}

.skeletonContainer {
  display: flex;
  width: 100%;
}

.skeletonTitle {
  width: 1000px;
}

/* Tablets and under */
@media (max-width: 768px) {
}

/* Tablets and under */
@media (max-width: 500px) {
  .dishCard {
    flex-direction: column;
    width: 300px;
    height: 300px;
  }

  .dishImage {
    width: 100%;
    height: 150px;
  }
}
