.paymentContainer {
  display: flex;
  border: 1px solid lightgray;
  background-color: white;
  padding: 2px;
  margin: 2px;
  border-radius: 4px;
  align-items: center;
}

.lastFour {
  font-weight: bolder;
  font-size: 1.3em;
}

.cardDetails {
  padding-left: 8px;
}

.expDate {
  font-size: 0.9em;
  font-style: italic;
  color: gray;
}
