.listContainer {
  display: flex;
  flex-wrap: wrap;
}

.emptyText {
  padding-top: 48px;
  text-align: center;
}

/* Tablets and under */
@media (max-width: 1022px) {
  .listContainer {
    justify-content: center;
  }
}

/* Mobile */
@media (max-width: 500px) {
}
