.searchBar,
.searchBarLoading {
  width: 400px;
}

.searchBarLoading {
  height: 53px;
  background-color: white;
}

@media (max-width: 500px) {
  .searchBar,
  .searchBarLoading {
    width: 300px;
  }

  .searchBarLoading {
    height: 53px;
    background-color: white;
  }
}
